.nearby-places-container {
  padding: 20px 30px;
  background: rgb(255, 255, 255);
  .nearby-places-text {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .businesses-details {
    padding: 15px 20px;
    background: rgb(240, 240, 240);
    margin: 3px 0;
  }
  .businesses-details:hover {
    background: rgb(0, 0, 0);
    color: white;
    transition: 0.3s;
    cursor: pointer;
  }
}
